.App {
  text-align: center;
  height: 100vh;
}
body {
  background-image: url("https://i.pinimg.com/originals/42/42/85/4242852ca558670e2a4963f78aec2502.jpg");
  background-size: cover;
  background-attachment: fixed;
}
